.header-for-app {
    background: #000 url("./images/bannerRaM.png") top no-repeat;
    opacity: 80%;
    min-height: 400px;
}

.all-routes {
  justify-content: space-between;
  padding-top: 145px;
  background-color: #41b3a4a6;
}

#card {
  box-sizing: border-box;
  padding: 15px 50px 150px 50px;
  margin: 0 auto 0 auto;
  background-color: #41b3a4a6;
}

.all-characters {
  display: grid;
  grid-column-gap: 70px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  padding-top: 0;
  padding-bottom: 45px;
}

.character-card {
  margin: 40px 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: #41b3a4a6;
  display: flex;
  flex-direction: column;
}

header {
  display: block;
}

.App {
  text-align: center;
}